@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1486523834155-1dabf4edaa64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1231&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

section {
    text-align: right;
    position: absolute;
    top: 30%;
    right: 25%
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}